<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="first">
          <h4> Nuestros Productos</h4>
          <ul>
            <li><a href="#">Pasteleria de Bodas</a></li>
            <li><a href="#">Cattering de Eventos</a></li>
            <li><a href="#">Coffe Break Ejecutivo</a></li>
            <li><a href="#">Pasteleria a Pedido</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="second">
          <h4> Conocenos</h4>
          <ul>
            <li><a href="#">Conocenos mejor</a></li>
            <li><a href="#">Nuestros Colaboradores</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="third">
          <h4>Redes Sociales</h4>
          <ul>
  
            
            <li><i class="far fa-envelope"></i> Facebook</li>
            <li><i class="far fa-envelope"></i> Instagram</li>
            <li><i class="fas fa-map-marker-alt"></i>Tik-Tok</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="second">
     <div class="col-12">
        <h4>Desarrollado por Mario Olivares para DesafioLatam</H4>
      </div>
     </div>
    </div>
</div>